:root {
  --primary-color: #fee2e2;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  padding: 1rem;
  width: 80%;
}

.footer {
  position: fixed;
  font-size: 0.6rem;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: black;
  text-align: center;
  padding: 10px;
}
